---
const today = new Date();
---

<footer>
	<p>© {today.getFullYear()} Noel – M241 Astro Projekt</p>

	<div class="links">
		<a href="https://m241-astro-framework-comparison.vercel.app" target="_blank">
			🌐 Live Projekt
		</a>
		<a href="https://github.com/nveedee/m241-astro-framework-comparison" target="_blank">
			💻 GitHub Repository
		</a>
	</div>
</footer>

<style>
	footer {
		padding: 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}

	.links {
		display: flex;
		justify-content: center;
		gap: 2em;
		margin-top: 1em;
	}

	.links a {
		text-decoration: none;
		color: rgb(var(--gray));
		font-weight: bold;
	}

	.links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>